*.obj
*.db
*.tlog
*.opendb
*.suo
*.exe
*.idb
*.ilk
*.pdb
*.log
YoakkeCompiler/src/Parsing/ExprParser.cpp~RFcdfbad9.TMP
*.TMP
*.ipch
*.ipch
*.db-shm
*.db-shm
*.ipch
*.ipch
*.ipch
.vs/YoakkeCompiler/v15/ipch/AutoPCH/YOAKKECOMPILERBRANCH2-3df5f346/MAIN-543eb5c3/MAIN.ipch
*.ipch
*.db-wal
*.ipch
*.ipch
.vs/YoakkeCompiler/v15/ipch/AutoPCH/YOAKKECOMPILERBRANCH-176b7882/MAIN-597b1971/MAIN.ipch
*.ipch
*.ipch
*.ipch